*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$bp-small: 37.5em; //600px

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #badbfb;
  background-image: linear-gradient(135deg, #badbfb 0%, #fff 100%);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
